head
  meta(charset='utf-8')
  title Just another gulp project

  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/favicon.ico')
  meta(name='theme-color' content="#000")

  // inject:css 
  link(rel="stylesheet", href="styles/App.css")
  // endinject
  // head:js
  <script src="scripts/vendor/Vendor.js"></script>
  // endinject
